@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Darker+Grotesque:wght@400;500;600;700&display=swap");

html,
body,
#root {
  min-height: 100vh;
  height: auto;
  width: auto;
}

body {
  font-family: "Aldrich", Arial, Helvetica, sans-serif;
}

p,
.select,
option,
.button,
label,
#email,
#password {
  font-family: "Darker Grotesque";
}
